<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
   
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=8">
		<meta http-equiv="pragma" content="no-cache" />

		<title>Telefónica I+D</title>
		<!--[if IE]>
		<link rel="STYLESHEET" type="text/css" href="../../css/reset.css" />			
		<![endif]-->
<!--  	<script type="text/javascript" src="..\..\tools\firebug-lite\build\firebug-lite-debug.js"></script> -->
		
		<link rel="stylesheet" type="text/css" href="../../css/tid-theme/jquery-ui-1.8.12.custom.css" />	
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap.css" />

		<link rel="stylesheet" type="text/css" href="../../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../css/fonts.css" />
		
		<script type="text/javascript" language="JavaScript" src="../../js/libs/jquery/jquery-1.7.1.min.js"></script>

		<script type="text/javascript" language="JavaScript" src="../../js/libs/jquery/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/libs/jquery/jquery.json-2.2.min.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/libs/jquery/jquery-ui-autocomplete.custom.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/libs/jquery/jquery.loading.1.6.4.js"></script>
 		<script type="text/javascript" language="JavaScript" src="../../js/libs/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
		
		<script type="text/javascript" language="JavaScript" src="../../js/libs/mustache/mustache.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/libs/phpjs/php.js.pack.js"></script>		

		<script type="text/javascript" language="JavaScript" src="../../js/libs/twitter-bootstrap/bootstrap-tooltip.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/libs/twitter-bootstrap/bootstrap-modal.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/libs/twitter-bootstrap/bootstrap-popover.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/libs/twitter-bootstrap/bootstrap-tab.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/libs/twitter-bootstrap/bootstrap-dropdown.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/libs/twitter-bootstrap/bootstrap-button.js"></script>
		
		<link rel="stylesheet" type="text/css" href="../common/css/main.css" />
		
		<script type="text/javascript" language="JavaScript" src="../../js/helper/datasource.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/helper/helpers.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/common/services.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/helper/http.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/common/bootstrap.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/helper/store.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/helper/common_errors.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/i18n/i18n.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/helper/datepicker.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/helper/browser_checker.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/helper/text_enhacer.js"></script>

		<script type="text/javascript" language="JavaScript" src="../../js/widgets/acl.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/widgets/renderer.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/widgets/paginator.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/widgets/validator.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/widgets/messages.js"></script>
		<script type="text/javascript" language="JavaScript" src="../../js/widgets/autocomplete.js"></script>

		<script type="text/javascript" language="JavaScript" src="../common/js/helper/http_request.js"></script>
		<script type="text/javascript" language="JavaScript" src="../common/js/i18n/i18n.js"></script>
		<script type="text/javascript" language="JavaScript" src="js/main.js"></script>

	</head>
   
	<body>
	    <div class="navbar navbar-fixed-top">
		    <div class="navbar-inner">
			    <div class="container ">
			    </div>
		    </div>
	    </div>	
		<div id="messages"></div>		
		<div class="main_area container">
			<div class="tab-content">
				<div class="tab-pane" id="staff"></div>
				<div class="tab-pane" id="scholar"></div>
				<div class="tab-pane" id="collaborator"></div>
				<div class="tab-pane" id="special"></div>
				
				<div class="tab-pane" id="modification"></div>
				<div class="tab-pane" id="reincorporate"></div>
				<div class="tab-pane" id="leave"></div>
				<div class="tab-pane" id="pending"></div>
				<div class="tab-pane" id="external"></div>
			</div>
		</div><!-- content -->	
	    <div class="navbar navbar-fixed-bottom">
		    <div class="navbar-inner">
			    <div class="container ">
						<span class="disclaimer">© Product Development and Innovation |&nbsp;</span>
						<a href="mailto:neohr@tid.es;neositid@tid.es" target="_blank" class="disclaimer"><span class="lang _contact">Contacto</span></a>
						<a class="footer_logo" href="https://servicioscomunes.pdi.inet/bsi/is/publico/" target="_blank" alt="go to Information Systems">	
							<img src="../../images/Infosys-pq-negativo.png" alt="Powered by Information Systems" />
						</a>
			    </div>
		    </div>
	    </div>
	</body>
</html>

